Flask-Assets==0.11
Flask==0.10.1
Jinja2==2.8
six==1.10.0
Sphinx==1.4.1
wheel==0.29.0
yuicompressor==2.4.8
XlsxWriter==0.7.2
natsort==3.5.6
unicodecsv==0.13.0
glob2==0.4.1
nltk==3.0.2
requests-ftp==0.3.1
rfc6266==0.0.4
translitua==1.2.2
