<h3>Рекомендації для розшифровки декларацій чиновників</h3>
<p>Вітаємо у Канцелярській сотні. Тут ми розшифровуємо декларації українських чиновників. Дякуємо, що знаходите час і допомагаєте зробити процес декларування прозорим.</p>
<p>Перед розшифровкою, ознайомтеся, будь ласка, із правилами та порадами щодо роботи.</p>
<h5>1. Початок роботи</h5>
<p>Увійти до системи можна через акаунт у Facebook, Twitter чи Gmail. Натисніть відповідну кнопку та виконайте дії, які запропонує система. Після цього ви потрапите у систему для реєстрації даних, отриманих з декларацій чиновників. Ознайомтеся з інтерфейсом.</p>
<h5>2. Інтерфейс</h5>
<p>Інтерфейс складається з кількох кнопок та шаблону декларації. У правому верхньому кутку сторінки є кнопка «Завдання». За нею ви отримаєте посилання на скан декларації, яку потрібно розшифрувати, та форму для розшифровки. </p>
<p>У тому ж кутку кнопки «Топ-10 волонтерів» - рейтинг користувачів, які обробили найбільше декларацій та Logout (вихід із системи).</p>
<p>У правому нижньому кутку розташовано кнопки «Пропустити завдання» та «Надіслати». Перша використовується для того, щоб отримати інше завдання замість запропонованого. Другу треба натиснути наприкінці роботи, коли все завдання буде виконано. Система збереже розшифровані вами дані та відправить їх далі для опрацювання.</p>
<p>Основний елемент інтерфейсу – шаблон декларації. До цієї електронної форми потрібно перенести інформацію із PDF-копії декларації, яку система надасть після вашого запиту.</p>
<img src="http://i.imgur.com/k3UlPyl.png" alt="Форма декларації та як з нею працювати" width="800" />
<h5>Форма декларації та як з нею працювати</h5>
<p>Шаблон це електронна копія паперової декларації. Вона повністю повторює паперову декларацію за структурою. Щоб із формою було зручніше працювати, до певних розділів ми додали підказки. Вони виглядають як віконечка жовтогарячого кольору. Звертайте, будь ласка, на них увагу. Якщо у вас виникає питання, імовірно, відповідь є у підказці.</p>
<p>Розшифровані дані треба записати у ятки, де курсивом відмічено тип інформації, яка там має бути. Наприклад, прізвище чи сума. Під кожною такою яткою є вікно із написом «Коментар». Якщо ви маєте якісь доповнення чи якась додаткова інформація міститься у декларації, дані треба записати у це вікно.</p>
<p>Поставивши курсор на початок рядка у будь-якій з яток, ви побачите з правого боку від неї дві позначки. Перекреслене око повідомляє про приховану інформацію. Знаки питання та оклику означають, що запис нерозбірливий. Якщо у пункті, який ви переносите до відповідної ятки, є прихована інформація (щось замазано маркером, наприклад) чи написане тяжко прочитати, натисніть відповідний значок. Ми перевіримо цей запис ще раз.</p>
<p>Деякі пункти може бути розширено. Наприклад, у пункті «Члени сім’ї декларанта» за замовчуванням один рядок. Якщо записів більше, рядки можна додати. Для цього знайдіть з правого боку шаблона кнопки з позначками «+» та «-» – вони додають та прибирають рядки. У випадку, якщо перший рядок містив ятки із позначками про приховану інформацію та нерозбірливий запис, їх буде продубльовано. Зверніть на це додаткову увагу та приберіть зайві.</p>
<p>Деякі пункти шаблона мають випадаюче меню. Будьте уважні під час роботи з ним, особливо коли заповнюєте пункти, що стосуються року, прізвища, імені та по батькові.</p>
<p>Після ознайомлення з інтерфейсом переходьте до розшифровки декларації.</p>
<h5>3. Розшифровка декларації</h5> У верхній частині шаблона міститься рамка з заголовком «Завантажити декларацію для розшифровки». Нижче активний напис «Декларація» (синім кольором) та текст – прізвище, ім’я та по батькові чиновника, відомство, регіон та посада.
<p>Щоб отримати документ для розшифровки, натисніть на активний напис «Декларація». У сусідньому вікні відкриється PDF-документ, інформацію з якого треба перенести до форми. Починайте роботу.</p>
<p>Завдання – перенести дані з PDF-документа до електронної форми без похибок. Щоб це зробити, візьміть до уваги кілька порад та рекомендацій.</p>
<ol type="A">
    <li>Будьте уважні при перенесенні прізвища, імені та по батькові. Особлива увага на букви «и» та «і», «е» та «є» – їх часом плутають.</li>
    <li>Поля «Область» та «Відомство» вже фактично заповнені – інформація про них міститься у верхній частині шаблона. Її треба перенести у електронну форму. За потреби уточнення даних скористуйтеся документом, на який посилається підказка у пункті «Відомство».</li>
    <li>Цілі числа треба записувати без знаків. Кому можна ставити тільки у тому випадку, коли йдеться про ціле число та дріб, тобто гривні та копійки. У такому випадку розділовий знак буде і у оригіналі. Незалежно від того, кома це чи крапка, у електронному варіанті число треба записувати через кому.</li>
    <li>Зверніть увагу на можливе приховування даних. Про це можуть свідчити кілька ознак:
        <ul>
            <li>у всіх пустих ятках є прочерки, а у кількох немає;</li>
            <li>загалом у декларації інформацію від руки написано посередині ятки, а у якійсь із них її розташовано з одного боку, близько до розділової смуги;</li>
            <li>смужка, що позначає рядок, де треба писати, у якомусь із питань пропадає, напевно, напис на ній також намагалися приховати;</li>
            <li>на смужці, що позначає рядок, чи над рядком є темні плями та сліди, схожі на верхні та нижні елементи букв.</li>
        </ul>
        Зазвичай приховати намагаються адреси, ідентифікаційній код, дати народження, номери паспортів та ідентифікаційні коди членів родини. На ці пункти треба звертати особливу увагу. Однак приховувати можуть і інші дані, тому варто слідкувати за вказаними ознаками протягом роботи над усім документом.
    </li>
    <li>Зазвичай сторінки декларацій мають нумерацію. Звертайте увагу на цифри. Якщо якийсь із аркушів відсутній, у кінці роботи треба поставити галочку у відповідному пункті.</li>
    <li>Декларація складається з багатьох пунктів. Їх розділено на групи, але вони мають суцільну нумерацію. Це допомагає не помилитися при перенесенні інформації, оскільки можна орієнтуватися не на розділ, а на номер пункту.</li>
    <li>Якщо у якомусь з пунктів є інформація, для якої не передбачено окремої ятки, запишіть її до спеціального віконця у кінці документу.</li>
</ol>
<p>Якщо система не приймає запис і показує повідомлення «Тільки букви», перевірте, чи немає у запису зайвих пробілів. Якщо є, видаліть їх.</p>
<p>Наприкінці роботи перевірте, чи зроблено усі позначки, передбачені меню, та натисніть кнопку «Надіслати».</p>
<h5>4. Завершення роботи</h5>
<p>Коли декларацію надіслано, система поверне вас на початкову сторінку. Тут ви можете натиснути кнопку «Завдання» і отримати нову декларацію або ж вибрати Logout і завершити роботу.</p>
<p>Дякуємо за ваш внесок у розбудову нової української держави!</p>
<h5 style="text-align: right">Канцелярська сотня</h5>
